<br>
<h1>PROFILE</h1>

<p>picture</p>

<p>name: <%= current_user.name %></p>

<p>id: <%= current_user.id %></p>

<div class="col-md-12">
    <p>name: <%= current_user.email %></p>
    <!--Image-->
    <div class="view overlay z-depth-1-half">
<% @bookings.each do |booking| %>
<h4>Booking</h4>
car model: <%= booking.armored_car.model %><br>
starts on day: <%= booking.starts_on %><br>
ends on day: <%= booking.ends_on %><br>
Days of rent: <%= booking.days_of_rent %><br>
the total amount to be paid is: <%= number_to_currency(booking.total_price / 100.0) %><br>
<%= link_to 'cancel', armored_car_booking_path(booking),method: :delete, data: {confirm: 'are you sure' } %><br>
        <% end %>
    </div>
</div>
<br>

