<br>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-12 profile">
			<p>id: <%= current_user.id %></p>

			<h1>PROFILE</h1>

			<p>picture</p>

			<p>name: <%= current_user.name %></p>

			<p>name: <%= current_user.email %></p>

			<div class="view overlay z-depth-1-half">

				<div class="row">

					<% @bookings.each do |booking| %>
					<div class="col-md-6">
						<!--Image-->
						<h2>Booking</h2><br>

						<p>car model: <%= booking.armored_car.model %></p><br>
						<p>starts on day: <%= booking.starts_on %></p>
						<p>ends on day: <%= booking.ends_on %></p><br>
						<p>Days of rent: <%= booking.days_of_rent %></p><br>
						<p>the total amount to be paid is: <%= number_to_currency(booking.total_price / 100.0) %></p><br>
					<%= link_to 'cancel', armored_car_booking_path(booking), class: "btn btn-light", method: :delete, data: {confirm: 'are you sure' } %><br>
					</div>
					<div class="col-md-6">
						<img
							src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/<%= "#{booking.longitude},#{booking.latitude}" %>,16.45,0,0/300x300?access_token=<%= ENV['MAPBOX_API_KEY'] %>" /><br>
					</div>
					<% end %>
				</div>
			</div>
          	<h2>My Cars</h2><br>
      <div class="car-display-with-map">
              <div class="row justify-content-center">
                  <table>
                    <thead>
                      <tr>
                        <th><h3>Model</h3></th>
                        <th><h3>Details</h3></th>
                        <th colspan="3"></th>
                      </tr>
                    </thead>

                    <tbody>
                        <% @own_cars.each do |car|  %>

                        <tr>
                          <td><p><%=car.model%></p></td>
                          <td><p><%=car.detailes%></p></td>
                          <td><h3><%=link_to 'Current location' ,armored_car_bookings_path(car), class: "btn btn-light"%></h3></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <br>
              </div>
        		</div>
        	</div>
        </div>
        <br>
      </div>
