
<h1>EDIT ARMORED-CARS</h1>
<%= @car.inspect %>
<%= simple_form_for [@car] do |form| %>
  <%= form.input :model %>
  <%= form.input :details %>
  <%= form.input :price %>
  <%= form.button :submit, class: "btn-primary" %>
<% end %>
<%= link_to 'Back', armored_cars_path %>


