  <!-- Inject the grid here -->
  <div class="cards">

    <!-- Card Wider -->
    <% @cars.each do |armored_car| %>
    <div class="hold-card card card-cascade">
      <!-- Card image -->
      <div class="view view-cascade overlay">
        <% if armored_car.image %>
        <img class="card-img-top" src="<%= armored_car.image %>" alt="armored car">
        <% else %>
        <%= image_tag "default.png", class: "card-img-top" %>
        <% end %>
      </div>

      <!-- Card content -->
      <div class="card-body card-body-cascade text-center">

        <!-- Title -->
        <h4 class="card-title"><strong><%= armored_car.model %></strong></h4>
        <!-- Subtitle -->
        <h5 class="blue-text pb-2"><strong><%= armored_car.price_cents.to_d/100 %>$</strong></h5>
        <!-- Text -->
        <p>
          <%= link_to armored_car.detailes, armored_car, class: "card-text" %>
        </p>
        <!-- Linkedin -->
        <%= link_to armored_car, class: "px-2 fa-lg li-ic" do %>
        choose <i class="fa fa-positive ml-2"></i>
        <% end %>

      </div>
    </div>
    <% end %>
    <!-- Card Wider -->

  </div>