<h1>New ArmoredCar</h1>

<%= simple_form_for [@armored_car] do |form| %>
  <%= form.input :model %>
  <%= form.input :detailes %>
  <%= form.input :price_cents %>
  <%= form.button :submit, class: "btn-primary" %>
<% end %>
