<h1><%= @armored_car.model %></h1>
<h2><%= @armored_car.price_cents %></h2>
<p><%= @armored_car.detailes %></p>


  <%= link_to 'Edit', edit_armored_car_path(@armored_car) %> |
  <%= link_to 'Back', armored_cars_path %>


